@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;

}

html {

    scroll-behavior: smooth;

}


body {

    background-color: rgb(218, 235, 221);
}

.main-header {

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   background-color: rgb(105, 114, 203);


}


.logo {

   display: flex;
   width: 300px;
   

}

.main-header nav ul {

    justify-content: center;
    display: flex ;
    align-items: center;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    
    
}


.main-header ul a {

    color: rgb(234, 235, 239);
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
    opacity: .9;

}

.main-header ul a:hover {

    opacity: 1;
   

}


.main-content .titulo {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;


}

.row {

  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
 


}

.card-green {

    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}

.main-content .estadoRJ {

    width: 370px;
    padding: 10px;
   
}


.card-green:hover {

   transform: translateY(-5px);
   cursor: pointer;


}


.card-blue {

    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;

}

.card-blue:hover {

    transform: translateY(-5px);
    cursor: pointer;


}

.card-blue .baia {

    width: 350px;
    padding: 10px;

    
}


.card-red {

    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;

}

.card-red:hover {

    transform: translateY(-5px);
    cursor: pointer;


}

.card-red .cassino {

   width: 378px;
   padding: 12px;
  
}


.curiosidades {
    
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 18px;

}


.p {

    font-size: 24px;
    gap: 20px;
    padding: 12px;
    display: flex;
    box-sizing: border-box;

}


.cristo-redentor {

    width: 400px;
    float: right;

}


.Praias {

    padding: 40px 10px;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    
}

.h2 {
    
    font-size: 24px;
    gap: 20px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
   
}

.p2 {

    font-size: 24px;
    display: flex;
    box-sizing: content-box;
    
}


.praia {

   width: 400px;
   float: right;

}


.vid {

 align-items: center;
 justify-content: center;
 padding: 24px 12px;
 align-items: center;
 justify-content: center;
 justify-self: center;
 flex-direction: row;

}

.rj {

  gap: 12px;
  padding: 24px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: flex;

}

.vlog:hover {

    transition: 1.9;
    transform: scale(1.05);
   
}



.inscreva {

    background-color: rgb(85, 92, 173);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    color: white;
    font-size: 18px;


}

.inscreva form {

   width: 100%;
   max-width: 600px;
   background-color: rgb(105, 114, 203) ;
   padding: 60px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;

}

.inscreva form h1 {

  margin-bottom: 26px;


}

.inscreva form div {

  display: flex;
  flex-direction: column;
  gap: 8px;

}

.inscreva form input {

   font-size: 20px;
   padding: 12px 24px;
   border-radius: 14px;
   border: none;

}

.inscreva form .button {

  background-color: rgb(32, 222, 64);
  border: none;
  transition: 0.6;
  cursor: pointer;
  color: rgb(251, 242, 242);

}

.inscreva form .button:hover { 

   background-color: rgb(58, 242, 89) ;
   transform: scale(1.05);
   color: rgb(255, 255, 255, 0.895);

}

.inscreva form section {

   display: flex;
   flex-direction: column;
   gap: 12px;

}

.inscreva form section div {

  display: flex;
  flex-direction: row;
  align-items: center;

}

input {

  background-color: rgb(234, 235, 239);
  border: none;

}


.main-footer {

  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  background-color: rgb(234, 235, 239);
}

.main-footer .github {

    width: 110px;
  
}


.main-footer .linkdin {

  width: 100px;
  gap: 15px;
  padding: 10px;

}



@media(max-width: 425px){

    body{

        width: 425px;
    }

    header{
        
        width: 100%;
        height: 200px;
    }

}